@font-face {
    font-family: UFO;
    src: url("SFAlienEncounters.ttf");
}

body {
    font-family: UFO;
    margin: 0;
}

#fundo {
    margin: 0;
    width: 100%;
    height: 100vh;
}

#area_jogo {
    width: 735px;
    height: 246px;
    opacity: 0;
}

#life {
    background: url('../img/lifebar.png');
    width: 480px;
    height: 40px;

}

#player {
    width: 79px;
    height: 74px;
    top: 125px;
    left: 120px;
    background-image: url("../img/player_walk.png");
    position: absolute;
    z-index: 2;

    animation: p_player .9s steps(8) infinite;
    -webkit-animation: p_player .9s steps(8) infinite;
    -moz-animation: p_player .9s steps(8) infinite;
    -ms-animation: p_player .9s steps(8) infinite;
    -o-animation: p_player .9s steps(8) infinite;
}

@keyframes p_player {
    from {
        background-position: 0px;
    }
    to {
        background-position: -634px;
    }
}

@-webkit-keyframes p_player {
    from {
        background-position: 0px;
    }
    to {
        background-position: -634px;
    }
}

@-moz-keyframes p_player {
    from {
        background-position: 0px;
    }
    to {
        background-position: -634px;
    }
}

@-ms-keyframes p_player {
    from {
        background-position: 0px;
    }
    to {
        background-position: -634px;
    }
}

@-o-keyframes p_player {
    from {
        background-position: 0px;
    }
    to {
        background-position: -634px;
    }
}

#player_attack {
    width: 85px;
    height: 74px;
    top: 125px;
    left: 120px;
    background-image: url("../img/player_attack.png");
    position: absolute;
    z-index: 2;

    animation: p_player_attack .4s steps(5) infinite;
    -webkit-animation: p_player_attack .4s steps(5) infinite;
    -moz-animation: p_player_attack .4s steps(5) infinite;
    -ms-animation: p_player_attack .4s steps(5) infinite;
    -o-animation: p_player_attack .4s steps(5) infinite;
}

@keyframes p_player_attack {
    from {
        background-position: 0px;
    }
    to {
        background-position: -380px;
    }
}

@-webkit-keyframes p_player_attack {
    from {
        background-position: 0px;
    }
    to {
        background-position: -380px;
    }
}

@-moz-keyframes p_player_attack {
    from {
        background-position: 0px;
    }
    to {
        background-position: -380px;
    }
}

@-ms-keyframes p_player_attack {
    from {
        background-position: 0px;
    }
    to {
        background-position: -380px;
    }
}

@-o-keyframes p_player_attack {
    from {
        background-position: 0px;
    }
    to {
        background-position: -380px;
    }
}



.enemy {
    width: 79px;
    height: 74px;
    top: 125px;
    left: 670px;
    background-image: url("../img/enemy1_walk.png");
    position: absolute;
    z-index: 2;
    transform: scaleX(-1);

    animation: p_enemy .9s steps(8) infinite;
    -webkit-animation: p_enemy .9s steps(8) infinite;
    -moz-animation: p_enemy .9s steps(8) infinite;
    -ms-animation: p_enemy .9s steps(8) infinite;
    -o-animation: p_enemy .9s steps(8) infinite;
}

@keyframes p_enemy {
    from {
        background-position: 0px;
    }
    to {
        background-position: -634px;
    }
}

@-webkit-keyframes p_enemy {
    from {
        background-position: 0px;
    }
    to {
        background-position: -634px;
    }
}

@-moz-keyframes p_enemy {
    from {
        background-position: 0px;
    }
    to {
        background-position: -634px;
    }
}

@-ms-keyframes p_enemy {
    from {
        background-position: 0px;
    }
    to {
        background-position: -634px;
    }
}

@-o-keyframes p_enemy {
    from {
        background-position: 0px;
    }
    to {
        background-position: -634px;
    }
}

.enemy_attack {
    width: 75px;
    height: 74px;
    top: 125px;
    background-image: url("../img/enemy_attack.png");
    position: absolute;
    z-index: 2;
    transform: scaleX(-1);

    animation: p_enemy_attack .8s steps(6) infinite;
    -webkit-animation: p_enemy_attack .8s steps(6) infinite;
    -moz-animation: p_enemy_attack .8s steps(6) infinite;
    -ms-animation: p_enemy_attack .8s steps(6) infinite;
    -o-animation: p_enemy_attack .8s steps(6) infinite;
}

@keyframes p_enemy_attack {
    from {
        background-position: 0px;
    }
    to {
        background-position: -455px;
    }
}

@-webkit-keyframes p_enemy_attack {
    from {
        background-position: 0px;
    }
    to {
        background-position: -455px;
    }
}

@-moz-keyframes p_enemy_attack {
    from {
        background-position: 0px;
    }
    to {
        background-position: -455px;
    }
}

@-ms-keyframes p_enemy_attack {
    from {
        background-position: 0px;
    }
    to {
        background-position: -455px;
    }
}

@-o-keyframes p_enemy_attack {
    from {
        background-position: 0px;
    }
    to {
        background-position: -455px;
    }
}



.enemy_hurt {
    width: 85px;
    height: 74px;
    top: 125px;
    background-image: url("../img/enemy_hurt.png");
    position: absolute;
    z-index: 2;
    transform: scaleX(-1);

    animation: p_enemy_hurt .8s steps(2) infinite;
    -webkit-animation: p_enemy_hurt .8s steps(2) infinite;
    -moz-animation: p_enemy_hurt .8s steps(2) infinite;
    -ms-animation: p_enemy_hurt .8s steps(2) infinite;
    -o-animation: p_enemy_hurt .8s steps(2) infinite;    
}

@keyframes p_enemy_hurt {
    from {
        background-position: 85px;
    }
    to {
        background-position: -256px;
    }
}

@-webkit-keyframes p_enemy_hurt {
    from {
        background-position: 85px;
    }
    to {
        background-position: -256px;
    }
}

@-moz-keyframes p_enemy_hurt {
    from {
        background-position: 85px;
    }
    to {
        background-position: -256px;
    }
}

@-ms-keyframes p_enemy_hurt {
    from {
        background-position: 85px;
    }
    to {
        background-position: -256px;
    }
}

@-o-keyframes p_enemy_hurt {
    from {
        background-position: 85px;
    }
    to {
        background-position: -256px;
    }
}



.enemy_death {
    width: 85px;
    height: 74px;
    top: 125px;
    background-image: url("../img/enemy_death.png");
    position: absolute;
    z-index: 2;
    transform: scaleX(-1);

    animation: p_enemy_death .8s steps(3) infinite;
    -webkit-animation: p_enemy_death .8s steps(3) infinite;
    -moz-animation: p_enemy_death .8s steps(3) infinite;
    -ms-animation: p_enemy_death .8s steps(3) infinite;
    -o-animation: p_enemy_death .8s steps(3) infinite;
}

@keyframes p_enemy_death {
    from {
        background-position: 0px;
    }
    to {
        background-position: -256px;
    }
}

@-webkit-keyframes p_enemy_death {
    from {
        background-position: 0px;
    }
    to {
        background-position: -256px;
    }
}

@-moz-keyframes p_enemy_death {
    from {
        background-position: 0px;
    }
    to {
        background-position: -256px;
    }
}

@-ms-keyframes p_enemy_death {
    from {
        background-position: 0px;
    }
    to {
        background-position: -256px;
    }
}

@-o-keyframes p_enemy_death {
    from {
        background-position: 0px;
    }
    to {
        background-position: -256px;
    }
}


#girl {
    width: 79px;
    height: 76px;
    top: 125px;
    left: 0px;
    background-image: url("../img/girl.png");
    position: absolute;
    z-index: 2;

    animation: p_girl .9s steps(5) infinite;
    -webkit-animation: p_girl .9s steps(5) infinite;
    -moz-animation: p_girl .9s steps(5) infinite;
    -ms-animation: p_girl .9s steps(5) infinite;
    -o-animation: p_girl .9s steps(5) infinite;
}

@keyframes p_girl {
    from {
        background-position: 0px;
    }
    to {
        background-position: -393px;
    }
}

@-webkit-keyframes p_girl {
    from {
        background-position: 0px;
    }
    to {
        background-position: -393px;
    }
}

@-moz-keyframes p_girl {
    from {
        background-position: 0px;
    }
    to {
        background-position: -393px;
    }
}

@-ms-keyframes p_girl {
    from {
        background-position: 0px;
    }
    to {
        background-position: -393px;
    }
}

@-o-keyframes p_girl {
    from {
        background-position: 0px;
    }
    to {
        background-position: -393px;
    }
}

#girl_hurt {
    width: 79px;
    height: 76px;
    top: 125px;
    background-image: url("../img/girl_hurt.png");
    position: absolute;
    z-index: 2;

    animation: p_girl_hurt .8s steps(2) infinite;
    -webkit-animation: p_girl_hurt .8s steps(2) infinite;
    -moz-animation: p_girl_hurt .8s steps(2) infinite;
    -ms-animation: p_girl_hurt .8s steps(2) infinite;
    -o-animation: p_girl_hurt .8s steps(2) infinite;    
}

@keyframes p_girl_hurt {
    from {
        background-position: 0px;
    }
    to {
        background-position: -154px;
    }
}

@-webkit-keyframes p_girl_hurt {
    from {
        background-position: 0px;
    }
    to {
        background-position: -154px;
    }
}

@-moz-keyframes p_girl_hurt {
    from {
        background-position: 0px;
    }
    to {
        background-position: -154px;
    }
}

@-ms-keyframes p_girl_hurt {
    from {
        background-position: 0px;
    }
    to {
        background-position: -154px;
    }
}

@-o-keyframes p_girl_hurt {
    from {
        background-position: 0px;
    }
    to {
        background-position: -154px;
    }
}



#girl_death {
    width: 79px;
    height: 76px;
    top: 125px;
    background-image: url("../img/girl_death.png");
    position: absolute;
    z-index: 2;

    animation: p_girl_death .8s steps(5) infinite;
    -webkit-animation: p_girl_death .8s steps(5) infinite;
    -moz-animation: p_girl_death .8s steps(5) infinite;
    -ms-animation: p_girl_death .8s steps(5) infinite;
    -o-animation: p_girl_death .8s steps(5) infinite;
}

@keyframes p_girl_death {
    from {
        background-position: 0px;
    }
    to {
        background-position: -387px;
    }
}

@-webkit-keyframes p_girl_death {
    from {
        background-position: 0px;
    }
    to {
        background-position: -387px;
    }
}

@-moz-keyframes p_girl_death {
    from {
        background-position: 0px;
    }
    to {
        background-position: -387px;
    }
}

@-ms-keyframes p_girl_death {
    from {
        background-position: 0px;
    }
    to {
        background-position: -387px;
    }
}

@-o-keyframes p_girl_death {
    from {
        background-position: 0px;
    }
    to {
        background-position: -387px;
    }
}

